@font-face {
  font-family: "Inter";
  src: url('../../public/fonts/inter/static/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('../../public/fonts/inter/static/Inter-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}


:root {
  --mobile-card-width: 87%;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

* {
  /* font-family: "Space Mono", monospace; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
}



body[data-theme="light"] {
  --color-bg-theme-switch: #979797;
  --color-divider: #E9E9E9;
  --color-text-primary: #2d2d2d;
  --color-bg-main: #FFF;
  --color-bg-search: #f4f4f4;
  --color-input-outline: #A445ED;

  /* --search-button-color: #0079ff;
  --color-text-profile-name: #4b6a9b;
  --color-text-profile-username: #0079ff;
  --color-text-profile-joined: #697c9a;
  --color-text-profile-bio: #4b6a9b;
  --color-text-profile-stats1: #4b6a9b;
  --color-text-profile-stats2: #2b3442;
  --color-text-profile-joined: #697c9a;
  --color-text-profile-links: #4b6a9b;
  --color-text-search: #4b6a9b;
  --color-text-theme: #697c9a;
  --color-text-title: #2b3442;
  --color-bg-main: #f6f8ff;
  --color-bg-card: #fefefe;
  --color-bg-toggle: #697c9a; */
}

body[data-theme="dark"] {
  --color-bg-theme-switch: #A445ED;
  --color-divider: #E9E9E9;
  --color-text-primary: #FFF;
  --color-bg-main: #050505;
  --color-bg-search: #1f1f1f;
  --color-input-outline: #A445ED;

  /* --search-button-color: #0079ff;
  --color-text-profile-name: #ffffff;
  --color-text-profile-username: #0079ff;
  --color-text-profile-joined: #ffffff;
  --color-text-profile-bio: #ffffff;
  --color-text-profile-stats1: #ffffff;
  --color-text-profile-stats2: #ffffff;
  --color-text-profile-joined: #ffffff;
  --color-text-profile-links: #ffffff;
  --color-text-search: #ffffff;
  --color-text-theme: #ffffff;
  --color-bg-main: #141d2f;
  --color-bg-card: #1e2a47;
  --color-bg-toggle: #ffffff; */
}

body {
  background-color: var(--color-bg-main);
}

/* input {
  outline: none;
} */
input:focus {
  outline: 1px solid var(--color-input-outline);
}