@font-face {
  font-family: "Inter";
  src: url('../../public/fonts/inter/static/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('../../public/fonts/inter/static/Inter-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url('../../public/fonts/inconsolata/static/inconsolata-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url('../../public/fonts/inconsolata/static/inconsolata-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url('../../public/fonts/lora/static/Lora-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url('../../public/fonts/lora/static/Lora-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url('../../public/fonts/lora/static/Lora-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}


:root {
  --mobile-card-width: 87%;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

* {
  /* font-family: "Space Mono", monospace; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
}



body[data-theme="light"] {
  --color-bg-theme-switch: #979797;
  --color-divider: #E9E9E9;
  --color-text-primary: #2d2d2d;
  --color-text-part-of-speech: #757575;
  --color-bg-main: #FFF;
  --color-bg-search: #f4f4f4;
  --color-input-outline: #A445ED;
  --color-seperator: #E9E9E9;
  --color-list-bullet: #8F19E8;



}

body[data-theme="dark"] {
  --color-bg-theme-switch: #A445ED;
  --color-divider: #E9E9E9;
  --color-text-primary: #FFF;
  --color-text-part-of-speech: #757575;
  --color-bg-main: #050505;
  --color-bg-search: #1f1f1f;
  --color-input-outline: #A445ED;
  --color-seperator: #3A3A3A;
  --color-list-bullet: #8F19E8;



}

body {
  background-color: var(--color-bg-main);
}


input:focus {
  outline: 1px solid var(--color-input-outline);
}